<html>
	<head>
		<link href="css/styles.css" rel="stylesheet">
	</head>


<center><h1 style="color:blue"> Personal Details<h1></h1>center>
<center><a href = '/' Restart</a></a></center>center>
<br><br>
<br>
<br>


<p class="center"<center><%=yield%></center>center>


</html>

