<html>
	<head>
		<link href="css/styles.css" rel="stylesheet">
	</head>
<body>

<h1 style="color:blue"> Personal Details<h1></h1></center>
<center><a href = '/'> Restart</a></a></center>
<br><br>
<br>
<br>


<p class="center"<center><%=yield%></center>

<footer>
<h6><a href = "http://www.minedminds.org"></h6>
	www.minedminds.org
</a>


</footer>
</body>
</html>



